<section class="session">
  <header>
    <h3><i class="fa fa-caret-right"></i> {{ title }} <small class="excerpt">{{ excerpt | truncate( 70, true ) }}</small></h3>
  </header>
  <article>
    <h4>What will your session or activity allow people to make, learn or do?</h4>
    <p>{{ goals }}</p>
    <h4>How do you see that working?</h4>
    <p>{{ agenda }}</p>
    <h4>How will you deal with varying numbers of participants in your session?</h4>
    <p>{{ scale }}</p>
    <h4>What do you see as outcomes after the festival?</h4>
    <p>{{ outcomes }}</p>
    <div class="proposal-2col-row">
      <div class="proposal-2col-col">
        <h4>Facilitator{{ 's' if facilitators.length > 1 else null }}</h4>
        <ul>
          {% for facilitator in facilitators %}
          <li>{{ facilitator.name }}{% if facilitator.twitter %} – <a href="https://twitter.com/{{ facilitator.twitter | replace( '@', '' ) }}">{{ facilitator.twitter }}</a>{% endif %}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="proposal-2col-col">
        {% if organization %}
        <h4>Organization</h4>
        <p>{{ organization }}</p>
        {% endif %}
        <h4>Theme</h4>
        <p>{{ theme }}</p>
      </div>
    </div>
  </article>
</section>
