/*
Testing git to staging sync
Theme Name: Mozilla Festival 2011
Theme URI: https://festival.mozilla.org/
Description: Templated (now rather loosely) based off exisiting WP twentyeleven theme. 
Author: Ross Bruniges
Template: twentyeleven
 */

@import url("../twentyeleven/style.css");

@font-face {
    font-family:MetaWebPro-Black;
    src:url(MetaWebPro-Black.woff) format('woff');
}

body {
    background: #FFFBED url('images/stripes.png') repeat-x top center;
    padding: 0;
    font-family: Arial;
    border-top: 2px solid #686868;
}
iframe {
    width: 100%;
}
abbr {
    border-bottom: none;
}
.cf:before,
.cf:after {
    display: table;
    content: "";
}
.cf:after {
    clear: both;
}
#page {
    background: transparent url(images/page-background.png) repeat-x left bottom;
    margin: -50px 0 0;
    z-index: 3;
    position: relative;
    max-width: none;
    padding-bottom: 150px;
}
.wrap {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
.mozilla {
    background: url("images/title.png") no-repeat scroll 100% 0 transparent;
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    height: 49px;
    overflow: hidden;
    text-indent: -9999em;
    width: 119px;
}
a.register {
    display: block;
    float: left;
    color: #FFF;
    border: 1px solid #D43218;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #D43218; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#D16B54, #D43218);
    background: -o-linear-gradient(#D16B54, #D43218);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D16B54), to(#D43218)); /* older webkit syntax */
    background: -webkit-linear-gradient(#D16B54,#D43218);

    padding: 5px 10px;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#branding {
    border-top: none;
    background: transparent url(images/header-swoosh.png) no-repeat 6px top;
    padding-bottom: 60px;
}
.hide {
    position: absolute;
    left: -9999em;
}
#branding hgroup {
    margin: 36px 0 0 -46px;
}
#branding dl {
    color: #6F6F6E;
    margin: 0;
    font-family: Arial;
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 200px;
    font-weight: bold;
}
#branding dd,
#branding dt {
    margin-bottom: 0;
    text-align: right;
}
#branding dt {
    text-transform: uppercase;
    color: #E84E1B;
    font-size: 12px;
}
#branding dd {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
}
#branding .cta {
    font-family: Arial;
    text-transform: none;
    font-size: 100%;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    background: transparent url(images/join-us.png) no-repeat left top;
    padding: 45px 0 0 70px;
}
.vevent {
    text-transform: uppercase;
    float: left;
    background: transparent url(images/mozilla-tag.png) no-repeat 0 0;
    padding: 46px 0 0 48px;
    height: 120px;
    width: 372px;
}
.vevent .summary {
    margin-bottom: 0;
    max-width: 380px; 
    text-indent: -9999em;
}
.vevent .hcard {
    font-weight: bold;
    color: #E84E1B;
    margin-bottom: 0;
    text-indent: -9999em;
}
#site-title,
#site-description {
    margin-right: 0;
    padding-top: 0;
}
#site-description {
    margin-bottom: 0;
    color: #E84E1B;
    font-size: 16px;
}
#site-title a {
    line-height: 1.3;
    font-size: 34px;
    display: block;
    padding: 48px 0 0 48px;
    height: 120px;
    margin: -48px 0 0 -48px;
}
#site-description .hide {
    background: transparent url(images/during_map.png) no-repeat left top;
    display: block;
    width: 260px;
    height: 172px;
    left: 520px;
    top: 0;
    text-indent: -9999em;
}
#access {
    background: #3A3A39; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#3A3A39, #151515);
    background: -o-linear-gradient(#3A3A39, #151515);
    background: -webkit-linear-gradient(#3A3A39, #151515);
    margin-bottom: 0;
}
#access div {
    margin: 0
}
#access ul {
    margin-left: 0;
}
#access li {
    border-left: 1px solid rgba(255,255,255,0.15);
}
#access li:first-child {
    border-left: 0;
}
#access a {
    color: #B1B1B1;
    padding: 21px;
    line-height: 1;
    font-weight: normal;
}
#access li:hover > a,
#access li:focus > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
    color: #FFF;
    background: #151515;
}
#access li:last-child {
    float: right;
    border-left: none;
}
.menu-primary-container a[title=register] {
    display: block;
    color: #FFF !important;
    border: 1px solid #D43218;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #D43218; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#D16B54, #D43218);
    background: -o-linear-gradient(#D16B54, #D43218);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D16B54), to(#D43218)); /* older webkit syntax */
    background: -webkit-linear-gradient(#D16B54,#D43218);
    padding: 10px !important;
    margin: 11px;
    font-weight: bold !important;
    font-size: 13px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#colophon a[title=register] {
    padding: 5px 10px !important;
    margin: 0 !important;
}
#access li:hover a[title=register],
#access li:focus a[title=register] {
    background: #D43218; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#D16B54, #D43218);
    background: -o-linear-gradient(#D16B54, #D43218);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D16B54), to(#D43218)); /* older webkit syntax */
    background: -webkit-linear-gradient(#D16B54,#D43218);
}
#access a[title=register]:hover,
#access a[title=register]:focus {
    text-decoration: underline;
}
#access ul ul {
    top: 4.2em;
    background: #3A3A39; /* be kind to the older browsers */
    background: rgba(29,29,27, 0.95);
    width: auto;
}
#access ul ul li {
    padding: 5px;
}
#access ul ul a {
    color: #B1B1B1;
    background: transparent;
    border-bottom: none;
}
#access ul ul *:hover > a {
    background: #030303;
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#main {
    overflow: hidden;
    background: #FFF;
    padding: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#primary .hentry {
    padding-top: 0;
}
.entry-content {
    padding-top: 0;
}
.singular .entry-header .entry-meta,
.singular .entry-meta .edit-link a{
    position: static;
}
#primary a,
#secondary a {
    color: #E84E1B;
}
#primary,
#primary.with_side {
    margin-right: -35%;
}
#primary.one_col {
    margin-right: 0;
}
#content,
.with_side #content {
    margin: 0 35% 0 4%;
    width: 57%;
}
.one_col #content {
    margin: 0 4%;
    width: 92%;
}
#content .entry-header,
#content .entry-content,
#content .entry-meta {
    width: 100%;
}
.archive #content .entry-meta {
    margin-top: -10px;
    margin-bottom: 20px;
}
#content .entry-title {
    text-transform: uppercase;
    margin-bottom: 0;
    color: #3C3C3B;
    font-size: 28px;
    font-family: "MetaWebPro-Black";
    font-weight: normal;
}
#content {
    font-size: 14px;
    color: #868686;
}
#content p.intro {
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
    color: #3B3B3B;
}
#content p a {
    font-weight: bold;
}
#content img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.archive #content article img {
    float: left;
    margin: 0 20px 10px 0;
    width: 50%;
    height: auto;
}
.photo_frame img {
    width: 100%;
    height: auto;
}
.photo_frame p {
    color: #868686;
    font-size: 12px;
    padding-left: 50px;
    border-bottom: 1px dotted #D9D9D9;
    padding-bottom: 1.625em;
    background: transparent url(images/camera_icon.png) no-repeat top left;
}
.home article {
    display: none;
}
.home #content section {
    border-bottom: 5px solid #D9D9D9;
    padding-bottom: 1.625em;
}
.home #content section:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.home section footer {
    text-align: right;
    padding: 22px 60px;
    background: #F5F5F5;
    overflow: hidden;
    zoom: 1;
}
.home #primary footer ul.social {
    float: left;
    margin: 0;
}
.home ul.social li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}
.home #primary .social img {
    box-shadow: none;
    display: block;
    width: 42px;
    height: 42px;
}
.home #primary footer a.register {
    color: #FFF;
    float: none;
    display: inline-block;
}
.peeps {
    list-style-type: none;
    margin-left: 0;
}
.home .peeps {
    margin-bottom: 0;
}
.peeps li {
    border-top: 5px solid #D9D9D9;
}
.peeps h2 {
    font-weight: bold;
    border-bottom: 1px dotted #D9D9D9;
    padding: 20px 0;
    font-size: 16px;
    color: #3C3C3B;
    margin-bottom: 20px;
    line-height: 1;
}
.home .peeps h2 {
    border-bottom: none;
    padding: 0;
}
.peeps h2 span {
    font-size: 12px;
    color: #868686;
    font-weight: normal;
}
.home .peeps li {
    border-top: none;
    padding-top: none;
    position: relative;
    padding-left: 160px;
    min-height: 160px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
#content .peeps .bio {
    position:relative;
    padding-left: 160px;
    min-height: 180px;
    font-size: 12px;
}
#content .learning-labs .bio {
    padding-left: 0;
    min-height: 10px;
}
.home #content .peeps .bio {
    position: static;
    padding-left: 0;
    min-height: 0;
}
.peeps .tags {
    margin-bottom: 10px;
}
.peeps img {
    width: 130px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0px;
    margin: 0;
}
.home .col .more-link {
    text-transform: lowercase;
}
.buzz h3 {
    margin-top: 1em;
    font-weight: bold;
    color: #000;
}
.buzz li h3 {
    margin-top: 0;
}
.buzz ul {
    overflow: hidden;
    margin-left: 0;
}
.buzz li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}
.buzz li:last-child {
    margin-right: 0;
}
#content .schedule {
    border: 5px solid #D9D9D9;
    border-width: 0 0 5px;
    margin-bottom: 0;
}
.schedule:first-child caption {
    border-top: 5px solid #D9D9D9;
}
.schedule caption {
    font-size: 16px;
    font-weight: bold;
    color: #3C3C3B;
    padding: 20px 0;
}
.schedule th,
.schedule td {
    padding: 14px 10px 14px 20px;
}
.schedule tbody th {
    background: #F5F5F5;
    color: #6F6F6E;
    font-size: 12px;
    border-top: 1px dotted #D9D9D9;
    width: 20%;
}
.schedule td {
    border-top: 1px dotted #D9D9D9;
    color: #E84E1B;
    font-weight: bold;
    font-size: 14px;
    width: 20%;
}
.schedule th + td {
    color: #6F6F6E;
    font-weight: normal;
    width: 60%;
}
.schedule td strong {
    display: block;
}
.schedule tbody a {
    font-weight: bold;
}
#secondary {
    background: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 4em 4% 2em 0;
    padding: 25px 0;
    width: 31%;
}
#secondary .widget {
    margin: 2em 20px 0;
    border-top: 5px solid #D9D9D9;
    color: #868686;
}
#secondary .widget:first-child {
    border-top: none;
    margin-top: 0;
}
#secondary .widget-title {
    text-transform: none;
    font-size: 14px;
    margin: 2em 0 1em;
    line-height: 1;
    letter-spacing: 0;
}
#secondary .widget:first-child .widget-title {
    margin-top: 0;
}
#secondary ul {
    list-style-type: none;
}
#secondary li {
    border-top: 1px dotted #D9D9D9;
    padding-top: 0.8em;
    margin-top: 0.8em;
}
#secondary li:first-child {
    border-top: none;
    margin-top: 0;
}
.widget-title {
    color: #6F6F6E;
    font-weight: bold;
}
.textwidget p {
    color: #868686;
}
.home #content p.intro {
    font-size: 30px;
    color: #575756;
    line-height: 1.2;
}
.home .grid {
    overflow: hidden;
    margin-left: 0;
}
.home .grid h2 {
    color: #3C3C3B;
    font-weight: bold;
    font-size: 16px;
}
.home .col h2 + p {
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
    color: #3C3C3B;
}
.home .col {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding-left: 2.17%;
    vertical-align: top;
}
.home div.col {
    padding-top: 130px;
    background: transparent url(images/logo-build.jpg) no-repeat top center;
}
.home li.col {
    border: 1px solid #D9D9D9;
    border-width: 1px 0 0 1px;
    list-style-type: none;
    min-height: 330px;
    padding-top: 20px;
    padding-right: 2.17%;
}
.home li.col:nth-child(-n+3) {
    border-top: none;
}
.home div.make {
    background-image: url(images/logo-make.jpg);
}
.home div.share {
    background-image: url(images/logo-share.jpg);
}
.home .col:nth-child(3n+1) {
    border-left: none;
    clear: left;
}
.home .col p {
    margin-bottom: 0.5em;
}
.home .col a span {
    position: absolute;
    left: -9999em;
}
.home .col h3 {
    font-weight: bold;
    font-size: 16px;
}
.home ol p {
    font-size: 12px;
    color: #868686;
}
.home ol img {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    padding: 6px;
    display: block;
    margin-bottom: 10px;
}
#colophon {
    background: #1E0000 url(images/footer-swoosh.png) no-repeat 6px 6px;
    min-height: 400px;
}
#colophon .wrap {
    padding: 3.65625em 0;
}
#colophon .vevent {
    background-image: url(images/mozilla-footer-tag.png);
    padding-left: 40px;
    margin-left: -40px;
    width: 322px; 
}
#colophon .summary {
    color: #C6C6C6;
    font-weight: bold;
    font-size: 26px;
    max-width: 250px;
}
#colophon .nav ul {
    margin: 0 0 0.4em;
}
#colophon .nav {
    float: right;
    overflow: hidden;
    margin-top: 46px;
    border-bottom: 2px solid #fff;
}
#colophon .moz {
    border-bottom: none;
    margin-top: 0;
    overflow: visible;
}
#colophon .moz .menu {
    margin: 0;
}
#colophon .moz .menu .twitter_frame {
    overflow: hidden;
    width: 120px;
}
#colophon .menu {
    float: left;
}
#colophon li {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#colophon .menu a,
#colophon .menu .a_faux {
    color: #FFF;
    display: block;
    padding: 5px 10px;
}
h2.partner-head,
h3.partner-head {
    font-weight: bold;
    color: #3C3C3B;
}
ul.partners { 
    overflow: hidden; 
    zoom: 1; 
    width=100%; 
    margin-left: 0; 
} 
.partners li { 
    width: 29%; 
    display: inline-block; 
    margin-right: 20px; 
    vertical-align: top; 
}
.home .partners li {
    width: 16%;
}
.home .challenge li {
    width: 20%;
}
.home .human li {
    width: 18%;
}
.partners img { 
    width: 100%; 
    height: auto; 
    border: 1px solid #DDD;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
}
#info_graphic {
    width: 100%;
}
/* Slightly responsive layout */
@media screen and (max-width: 940px) {
    #branding p {
        position: static;
        clear: left;
        width: auto;
        background: none;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 640px) {
    .vevent {
        background-image: url(images/header-mozilla-mobile.png);
        max-width: 70%;
        height: auto;
    }
    .vevent .summary {
        text-indent: 0;
    }
    .vevent .hcard {
        text-indent: 0;
    }
    #site-title a {
        height: auto;
    }
    #site-description .hide {
        text-indent: 0;
        background: none;
        height: auto;
        width: auto;
        position: static;
        background: none;
    }
    .partners li {
        width: 45%;
    }
    #colophon .vevent {
        background-image: url(images/footer-mozilla-mobile.png);
    }
    #colophon .nav {
        margin-top: 0;
        float: left;
        clear: left;
    }
    #colophon .menu {
        margin-left: -40px !important;
        padding-left: 40px;
    }
    #info_graphic {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .home #content p.intro {
        font-size: 18px;
        line-height: 1.5;
    }
    .home .col {
        float: none;
        width: 100%;
        padding-left: 0;
        /* this is bad I know but it trumps the hacked JS */
        min-height: 0 !important;
    }
    .home li.col {
        border-width: 0;
    }
    .home .peeps li {
        float: none;
        width: 100%;
    }
    .home .partners li {
        width: 44%;
    }
    #primary,
    #primary.with_side {
        margin-right: 0;
    }
    #content,
    .with_side #content {
        margin-right: 4%;
        width: auto;
    }
    #secondary {
        float: left;
        margin: 0 4% 4%;
        width: auto;
    }
    .archive #content img {
        width: 100%;
    }
    #colophon .menu {
        margin-left: -40px;
        padding-left: 40px;
    }
}
@media screen and (max-width: 400px) {
    #branding .vevent {
        max-width: 100%;
    }
    #branding #site-title a {
        font-size: 20px;
    }
    .home section footer {
        padding: 22px;
    }
    .category #content .entry-title {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-transform: none;
    }
    video.video-js {
        width: 100%;
    }
}
