body {
  margin: 0;
  background: #F5F5F5;
  color: #56565A;
  font-family: "Open Sans",sans-serif;
}
html {
  background: linear-gradient(to right, #588BD2, #2F306C) repeat scroll 0% 0% transparent;
}
.centered {
  text-align: center;
}
.content {
  .button,
  button {
    color: #FFFFFF;
    background: #B94D60;
    border-radius: 2px;
    border-width: 0;
    margin: 14px 0;
    display: inline-block;
    padding: 12px 38px;
  }
  h1 {
    color: #B94D60;
    font-weight: 300;
    font-size: 38px;
    margin: 8px 0;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    margin: 8px 0;
  }
  width: 100%;
  margin: 35px auto;
  max-width: 565px;
  overflow: hidden;
  &.wide {
    max-width: 840px;
  }
  .bold {
    font-weight: 800;
  }
}

.half-content {
  width: 50%;
  float: left;
  padding: 0px 25px;
}
