export PORT=9090
export OPTIMIZE=
export FRINGE_EVENT_FORM_ACTION_URL=
export FRINGE_EVENT_SPREADSHEET_ID=
export FRINGE_FORM_FIELD_NAME=
export FRINGE_FORM_FIELD_TIME=
export FRINGE_FORM_FIELD_LOCATION=
export FRINGE_FORM_FIELD_DESCRIPTION=
export FRINGE_FORM_FIELD_LINK=
export FRINGE_FORM_FIELD_PRIVACY=
