@font-face { 
  font-family: 'MetaBlack';
  src: url('fonts/MetaWebPro-Black.eot');
  src: local('☺'), url('fonts/MetaWebPro-Black.woff') format('woff');
  font-weight: bold;
}

/* @Reset defaults */
html, body, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table { margin: 0 0 1.4em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
form ul, form ol { list-style: none; margin: 0 0 1.4em; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }

html .mceContentBody { max-width: 615px; font: 13px/1.5 Georgia, "Times New Roman", Times, serif; color: #6d7581; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-style: italic; font-family: Georgia, serif; color: #303030; margin: 0 0 .25em; }
h1 { font-size: 1.85em; }
h2 { font-size: 1.69em; }
h3 { font-size: 1.385em; }
h4 { font-size: 1.231em; }
h5 { font-size: 1.07em; }
h6 { font-size: 1em; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; font: normal bold 130%/.738 MetaBlack,"Trebuchet MS",sans-serif; letter-spacing: -0.02em; text-transform: uppercase; }

.mceContentBody a:link, 
.mceContentBody a:visited { text-decoration: none !important; color: #447bc4 !important; }
.mceContentBody a:hover, 
.mceContentBody a:focus, 
.mceContentBody a:active { text-decoration: underline !important; color: #447bc4 !important; }

html .mceContentBody img { max-width: 100%; }

ul, ol { margin-left: 25px; }
li { margin-bottom: .25em; }
li ul, li ol { margin-left: 15px; margin-bottom: 0; }
blockquote { padding: 0 15px 0 40px; font-style: italic; background: transparent url(../img/quote.png) 0 0 no-repeat; }
blockquote em, blockquote i, blockquote cite { font-style: normal; }
dt { font-style: italic; }
dd { padding-left: 15px; }
table { border-collapse: collapse; border-width: 1px 1px 0; border-style: solid; border-color: #eee; margin-bottom: 1.7em; }
th, td { border-bottom: 1px solid #eee; padding: 0 4px; }
thead th { font-size: 90%; text-align: left; font-weight: normal; }
tbody th { text-align: left; }
code { font-size: 1.17em; }

a:link img, a:visited img { padding: 1px; border: 1px solid #447bc4; }
a:hover img, a:focus img, a:active img { text-decoration: none; }

ins { text-decoration: none; background: #cde1ef; }
del { text-decoration: line-through; color: #a88; }

.alignleft { float: left; margin: 0 20px .5em 0; }
a .alignleft { margin: -2px 20px .5em -2px; }
.alignright { float: right; margin: 0 0 15px 1em; }
a .alignright { margin: -2px -2px 15px 1em; }
.aligncenter { display: block; margin: 0 auto 1.4em; }

.wp-caption { background: transparent; border: 0; padding: 0; }
.wp-caption.aligncenter { width: auto !important; height: auto !important; padding: 0; border: 0; }
.wp-caption img { display: block; margin: 0; max-width: 100%; }
.wp-caption.aligncenter img { margin: 0 auto; }
.wp-caption.aligncenter a img.size-large { margin: 0 0 0 -2px; }
.wp-caption-text { margin: .3em 5px; font-size: .923em; font-style: italic; }

.entry-content .wp-post-image, .entry-summary .wp-post-image { float: right; margin: 0 0 .5em 15px; }