/* Styles for IE7 */

/* I can hasLayout */
#doc,
#branding,
#nav-main,
#nav-main li, 
.entry-meta, 
#comment-list li { zoom: 1; }

#nav-main { display: inline; height: 47px; }
#nav-main .nav-sub { margin-left: -100%; }

.entry-meta { height: 3em; }