.about-page {
  .hero-unit {
    background-position: 67% center;
  }
  .circles-container {
    margin: 0 auto;
    overflow: hidden;
    .circle-container {
      text-align: center;
      width: 100%;
      max-width: 280px;
      float: left;
      .circle {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin: 18px auto;
        height: 110px;
        width: 110px;
        color: #BD556A;
        font-size: 36px;
        font-weight: 300;
        border-radius: 50%;
        border: solid 1px #BD556A;
      }
      .label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  .timeline-container {
    .timeline-content-container {
      width: 100%;
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
    .timeline-image-container {
      width: 420px;
    }
    .timeline-content {
      width: 420px;
    }
    .timeline-time-circle {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: solid 1px #FFFFFF;
      height: 60px;
      width: 60px;
      color: #FFFFFF;
      margin: 0 auto;
      font-size: 20px;
      font-weight: 300;
    }
    .starting-line {
      height: 52px;
      width: 1px;
      background: #FFFFFF;
      margin: 0 auto;
    }
    .ending-bit {

    }
    background: linear-gradient(to bottom, #D5901D, #BB4D63);
  }
}
