.about-page {
  .jumbotron {
    background-position: 5% bottom, 95% top, 100% center;
  }
  .letter,
  .participating {
    overflow: hidden;
    text-align: left;
  }
  .signature-bold {
    font-weight: 600;
    font-style: italic;
  }
}

.circle-container {
  color: @pink;
  text-align: center;
  width: 100%;
  padding: 0 10px;

  .circle {
    margin: 30px auto 10px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    border: solid 2px @pink;
  }

  .label {
    font-weight: 500;
    line-height: 1.2;
  }
}

.space-intro-block {
  background: #ccc;
  padding: 30px 20px;

  h3 {
    font-weight: 500;
    font-size: inherit;
  }

  p {
    min-height: 200px;
  }
}
