.expect-page {
  .hero-unit {
    background-position: center 13%;
  }
  .hero-unit-container {
    background: linear-gradient( to right, #C46128, #B94C5F);
  }
  .letter,
  .participating {
    overflow: hidden;
    text-align: left;
  }
  .signature-container {
    text-align: right;
    margin-top: -70px;
    .surman-photo-crop {
      border-radius: 50%;
      overflow: hidden;
      height: 160px;
      width: 160px;
      display: inline-block;
      img {
        -webkit-transform: scale(0.75) translate(-33%, -17%);
        -ms-transform: scale(0.75) translate(-33%, -17%);
        transform: scale(0.75) translate(-33%, -17%);
      }
    }
  }
  .signature-bold {
    font-weight: 600;
    font-style: italic;
  }
  .schedule-table {
    width: 100%;
    border-collapse: seperate;
    border-spacing: 4px 0;
    tr {
      &.table-header {
        text-transform: uppercase;
      }
      text-align: left;
      &:first-child {
        text-align: center;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        td {
          background: #32438E;
          &:first-child {
            background: #C36127;
          }
          &:last-child {
            background: #BB4E61;
          }
          padding: 14px;          
        }
      }
      &:last-child {
        td {
          padding: 14px;
        }
      }
      td {
        .td-container {
          padding: 14px 0;
          border-bottom: 1px solid #DADADA;
        }
        padding: 0 14px;
        background: #F4F6FB;
        &:nth-child(odd) {
          background: #F1F1F1;
        }
        .time {
          font-weight: 700;
        }
      }
    }
  }
}
