.fringe-events-page {

  .events {
    .content {
      padding: 0;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }
    li {
      .details {
        font-size: 1rem;
        font-weight: 300;
      }
      header:first-letter,
      .location:first-letter,
      .description:first-letter {
        text-transform: capitalize;
      }
      .inner-wrapper {
        background: @light-grey;
        height: 100%;
      }
    }

    .date-and-time,
    .location,
    .url {
      &:before {
        display: inline-block;
        text-align: center;
        width: 20px;
        height: auto;
        margin-right: 5px; 
      }
    }

    .date-and-time {
      &:before {
        font-family: "FontAwesome";
        content: "\f017";
      }
    }

    .location {
      &:before {
        font-family: "FontAwesome";
        content: "\f041";
      }
    }

    .url {
      &:before {
        font-family: "FontAwesome";
        content: "\f015";
      }
    }
  }

  #fringe-form-section {
    h1 {
      margin-top: 40px;
    }
    h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
    .demonstrate {
      ul {
        margin-top: .5rem;
        font-weight: 300;
      }
    }
  }

  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 1.8rem;
    }
  }

  .loading-message {
    &:after {
      content: "...";
      display: inline-block;
      overflow: hidden;
      position: relative;
      top: -4px;
      width: 0;
      margin-left: .5rem;
      font-size: 2rem;
      vertical-align: bottom;
      line-height: 1;
      animation: loading 1.2s linear infinite;
    }
  }

  form {
    label {
      .mb-1;
      font-weight: 600;
      line-height: 1.2;

      &.word-length-restriction.max-50-words {
        &::after {
          content: "(max 50 words)";
        }
      }
      &.word-length-restriction.max-50-words.required {
        &::after {
          content: "(max 50 words) (required)";
        }
      }

       &.word-length-restriction.max-120-words {
        &::after {
          content: "(max 120 words)";
        }
      }
      &.word-length-restriction.max-120-words.required {
        &::after {
          content: "(max 120 words) (required)";
        }
      }
    }

    .privacypolicy {
      input {
        width: auto;
      }
    }

    textarea {
      min-height: 5rem;

      &.tall {
        min-height: 8rem;
      }
    }
  }

  .react-datepicker__input-container {
    input {
      color: inherit;
      font-size: inherit;
    }
  }

  .rc-time-picker {
    display: block;
    input {
      .form-control;
      width: auto;
      font-size: inherit;
      color: inherit;
      height: auto;
    }
  }
}
