.home-page {
  .jumbotron-container {
    padding-bottom: 10px;
    background: linear-gradient(to right, @blue, @pink);
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      width: 100%;
      height: 20px;
      background: url(/assets/images/hero/home/home-bar.jpg);
    }
  }
  .content-wrapper {
    max-width: @max-container-width;
    padding: 0 15px;
    margin: 0 auto;
  }
  .video-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
  .iframe-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 20px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .jumbotron {
    padding-top: 250px;
    @media screen and (min-width: 880px) {
      padding-top: 150px;
      padding-bottom: 120px;
    }
    iframe {
      margin: 0 auto;
      border-width: 0;
    }
    .iframe-container {
      box-sizing: content-box;
      margin-top: 50px;
    }
    .btn {
      border: 1px solid #fff;
      background: none;
      cursor: pointer;
      color: white;
      &:hover {
        color: @pink;
        background: #fff;
      }
    }
    .horizontal-rule {
      width: 84px;
      height: 5px;
      background: #FFFFFF;
      margin: 30px auto;
    }
    h1 {
      font-family: 'Zilla Slab Highlight';
      letter-spacing: 0;
      text-transform: none;
      font-weight: normal;
      margin-top: 0;
    }
  }
  .content {
    p {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 0;
    }
    .btn {
      margin-top: 30px;
      vertical-align: baseline;
    }
  }
}
