.location-page {
  .map-box-container {
    height: 500px;
  }
  .illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    .illustration-text {
      text-align: left;
    }
    .illustration-text,
    .illustration-image-container {
      width: 50%;
    }
  }
}
