.proposals-page {
  .proposals-form {
    label,
    input[type='text'],
    textarea,
    select {
      width: 100%;
      &.checkbox-input {
        width: auto;
      }
    }
    label,
    input[type='text'],
    textarea,
    select,
    button {
      display: block;
      &.checkbox-input {
        display: inline;
      }
    }
  }
}
