.team-page {

}

.member-profile {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  .image-container {
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 30%;
      text-align: left;
      padding-right: 30px;
    }
    img {
      width: 250px;
      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }
  }
  .details {
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 70%;
      text-align: left;
    }
  }
  h1 {
    font-weight: 800;
    margin: 0;
    text-align: center;
    line-height: 1;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  h2 {
    font-size: 32px;
    font-weight: 300;
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}
