.team-page {
  background: #fff;

  .jumbotron-container + .content {
    overflow: visible;
    h1 {
      margin-top: 2rem;
    }
  }

  .sponsors {
    margin-bottom: 5rem;

    .logo {
      height: 100px;

      img {
        max-height: 100%;
        width: auto;

        &.private-internet-access {
          max-height: 40px;
        }

        &.shareable {
          max-height: 28px;
        }

        &.internet-society {
          max-height: 65px;
        }

        &.samsung {
          max-height: 80px;
        }
      }
    }
  }

  .partners {
    .partner {
      height: 150px;
      padding: 20px;

      img {
        max-height: 100%;
      }
    }
  }
}
