body {
  margin: 0;
  background: #F5F5F5;
  color: #56565A;
  font-family: "Open Sans", sans-serif;
}
html {
  background: linear-gradient(to right, #588bd2, #2f306c) repeat scroll 0% 0% transparent;
}
.centered {
  text-align: center;
}
#embed-error {
  display: none;
}
.content {
  width: 100%;
  margin: 35px auto;
  max-width: 565px;
  overflow: hidden;
}
.content a {
  text-decoration: none;
  color: #588AD3;
}
.content .horizontal-rule {
  background: #D0D2D1;
  width: 100%;
  height: 1px;
  margin: 45px 0 20px;
}
.content .button,
.content button {
  color: #FFFFFF;
  background: #B94D60;
  border-radius: 2px;
  border-width: 0;
  margin: 14px 0;
  display: inline-block;
  padding: 12px 38px;
  text-decoration: none;
  cursor: pointer;
}
.content h1 {
  color: #B94D60;
  font-weight: 300;
  font-size: 38px;
  margin: 8px 0;
}
.content h2 {
  font-size: 18px;
  color: #B94D60;
  font-weight: 600;
}
.content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  margin: 8px 0;
}
.content.wide {
  max-width: 840px;
}
.content .bold {
  font-weight: 800;
}
.content .boldish {
  font-weight: 700;
}
.white-background {
  background: #FFFFFF;
  overflow: hidden;
}
.half-content {
  width: 50%;
  float: left;
  padding-left: 0;
  padding-right: 25px;
}
.half-content:last-child {
  padding-left: 25px;
  padding-right: 0;
}
.footer {
  background: linear-gradient(to right, #588bd2, #2f306c);
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.footer .horizontal-rule {
  background: #8E90AE;
  width: 322px;
  height: 1px;
  margin: 28px auto;
}
.footer a {
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}
.footer .footer-icons {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.footer .footer-icons .footer-icon {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0 31px;
  width: 96px;
}
.footer .footer-icons .footer-icon .icon-circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 2px #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.footer .link-container {
  text-align: center;
}
.footer .link-container a {
  margin-right: 30px;
}
.footer .link-container a:last-child {
  margin-right: 0;
}
.header {
  height: 90px;
}
.header .header-content {
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
}
.header a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  font-size: 14px;
}
.header .nav-home {
  float: left;
}
.header .nav-items {
  float: right;
}
.header .nav-items a {
  margin-right: 30px;
}
.header .nav-home,
.header .nav-items {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header .nav-home,
.header .nav-items,
.header .mozfest-tabzilla-container {
  height: 100%;
}
.hero-unit {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 800;
  letter-spacing: 7px;
}
.expect-page .hero-unit {
  background-position: center 13%;
}
.expect-page .letter,
.expect-page .participating {
  overflow: hidden;
  text-align: left;
}
.guidelines-page .hero-unit {
  background-position: center 38%;
}
.home-page .hero-unit {
  background-position: center bottom;
}
.home-page .header {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
}
.home-page .hero-unit {
  padding-top: 90px;
  height: 642px;
}
.home-page .hero-unit h1 {
  margin: 0;
  font-size: 46px;
}
.home-page .hero-unit h1,
.home-page .hero-unit h2 {
  font-weight: 800;
  letter-spacing: 7px;
}
.home-page .hero-unit .horizontal-rule {
  width: 84px;
  height: 5px;
  background: #FFFFFF;
  margin: 10px auto 6px;
}
.home-page .hero-unit h2 {
  margin: 0;
  font-size: 28px;
  letter-spacing: 2px;
}
.home-page .hero-unit div {
  font-size: 24px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
}
.location-page .map-box-container {
  height: 500px;
}
.location-page .small p {
  font-size: 14px;
  font-weight: 400;
}
.location-page .mapbox-popup p {
  font-size: 12px;
  margin: 0;
}
.location-page .illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.location-page .illustration .illustration-text {
  text-align: left;
}
.location-page .illustration .illustration-text,
.location-page .illustration .illustration-image-container {
  width: 50%;
}
.proposals-page .hero-unit {
  background-position: center 14%;
}
.proposals-page .proposals-form label,
.proposals-page .proposals-form input[type='text'],
.proposals-page .proposals-form textarea,
.proposals-page .proposals-form select {
  width: 100%;
}
.proposals-page .proposals-form label.checkbox-input,
.proposals-page .proposals-form input[type='text'].checkbox-input,
.proposals-page .proposals-form textarea.checkbox-input,
.proposals-page .proposals-form select.checkbox-input {
  width: auto;
}
.proposals-page .proposals-form input,
.proposals-page .proposals-form textarea {
  margin-bottom: 20px;
  border: solid 1px #D0D2D1;
  border-radius: 4px;
  padding: 11px 10px;
  font-size: 18px;
}
.proposals-page .proposals-form textarea {
  height: 300px;
}
.proposals-page .proposals-form label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
}
.proposals-page .proposals-form label,
.proposals-page .proposals-form input[type='text'],
.proposals-page .proposals-form textarea,
.proposals-page .proposals-form select,
.proposals-page .proposals-form button {
  display: block;
}
.proposals-page .proposals-form label.checkbox-input,
.proposals-page .proposals-form input[type='text'].checkbox-input,
.proposals-page .proposals-form textarea.checkbox-input,
.proposals-page .proposals-form select.checkbox-input,
.proposals-page .proposals-form button.checkbox-input {
  display: inline;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 400;
}
.contact-page .hero-unit {
  background-position: center 14%;
}
