@-webkit-keyframes rotate {
	from {
	  -webkit-transform: rotate(0deg);
	}

	to {
	  -webkit-transform: rotate(360deg);
	}

}

@-webkit-keyframes translate {
	from {
	  -webkit-transform: translatey(0);
	}

	to {
	  -webkit-transform: translatey(-94px);
	}

}

@-moz-keyframes rotate {
	from {
	  -moz-transform: rotate(0deg);
	}

	to {
	  -moz-transform: rotate(360deg);
	}

}

@-moz-keyframes translate_up {
	from {
	  -moz-transform: translatey(0);
	}

	to {
	  -moz-transform: translatey(-94px);
	}

}

@-moz-keyframes translate_down {
	from {
	  -moz-transform: translatey(-94px);
	}

	to {
	  -moz-transform: translatey(0);
	}

}

#content {
	position: relative;
	background: -webkit-radial-gradient(#000000 15%, transparent 16%) 0 0, -webkit-radial-gradient(#000000 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
	background: -moz-radial-gradient(#000000 15%, transparent 16%) 0 0, -moz-radial-gradient(#000000 15%, transparent 16%) 8px 8px, -moz-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -moz-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
	background: -o-radial-gradient(#000000 15%, transparent 16%) 0 0, -o-radial-gradient(#000000 15%, transparent 16%) 8px 8px, -o-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -o-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
	background: radial-gradient(#000000 15%, transparent 16%) 0 0, radial-gradient(#000000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
	box-shadow: inset 0 0 150px #000;
	padding: 0;
}

#content .constrained::before,
#content .constrained::after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 25px;
}

#content .constrained::before {
	top: 0;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

#content .constrained::after {
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

#content h2,
#content p {
	color: #EEE;
	text-shadow: 0 0 10px #000;
	font-size: 2.5em;
	font-weight: bold;
	margin: 0;
}

#content h2 {
	font-size: 5em;
	text-transform: uppercase;
	margin: 0.75em 0 0;
}

#sidebar {
	height: 250px;
	background: none;
	box-shadow: none;
	position: relative;
	overflow: hidden;
}

#sidebar .cog {
	display: block;
	width: 270px;
	height: 270px;
	background: url(assets/chain.png) 0 0 no-repeat;
	position: absolute;
	left: 50%;
	top: 0;
	margin: -175px 0 0 -125px;
	-webkit-animation: rotate 16s linear infinite;
	-moz-animation: rotate 16s linear infinite;
}

#sidebar .chain {
	display: block;
	position: absolute;
	width: 44px;
	height: 150%;
	top: 0;
	background: url(assets/chain.png) -276px 0;
}

#sidebar .left {
	left: 20px;
	-webkit-animation: translate 2s linear infinite;
	-moz-animation: translate_up 2s linear infinite;
}

#sidebar .right {
	right: 0;
	margin-top: -29px;
	-webkit-animation: translate 2s linear infinite reverse;
	-moz-animation: translate_down 2s linear infinite;
}

