.mofo-footer {
  background: @blue;
  padding-top: 0;
}

.site-footer {
  background: @blue;
  padding: 50px 0 0;
  @media screen and (min-width: 768px) {
    .nav-link-container {
      display: inline-block;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    &:link,
    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
  .footer-content {
    width: 100%;
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
  }
  .footer-icons {
    padding-bottom: 30px;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
    .footer-icon {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      width: 50%;
      margin-bottom: 20px;
      @media screen and (min-width: 768px) {
        width: 96px;
        margin-bottom: 0;
      }
      &:hover {
        .icon-circle {
          top: -4px;
        }
      }
      a:active {
        outline: none;
      }
      .icon-circle {
        position: relative;
        top: 0;
        margin: 0 auto;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: solid 2px #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        transition: all 0.18s ease-in-out 0s;
        @media screen and (min-width: 768px) {
          margin: 0 auto 15px;
          width: 70px;
          height: 70px;
        }
        img {
          width: 20px;
          @media screen and (min-width: 768px) {
            width: 35px;
          }
        }
      }

    }
  }
  .link-container {
    text-align: center;
    a {
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid rgba(255,255,255,0.9);
      }
      display: inline;
    }
  }
}
