.header {
  .header-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
  }
  .nav-home {
    width: 100%;
    padding: 1rem 0;
    img {
      width: 170px;
    }
  }
  .nav-items {
    .nav-link-container {
      margin-bottom: 15px;
    }
    a {
      position: relative;
      display: inline-block;
      color: inherit;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom: 2px solid @grey;
      }
      &:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: @grey;
        opacity: 0;
        transform: translateY(-10px);
        transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
      }
      &:hover {
        &:not(.active) {
          &:after {
            height: 2px;
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }

  #tabzilla {
    position: absolute;
    top: 0;
    right: 0;
  }

  #tabzilla:before {
    background-color: @grey;
  }

  @media screen and (min-width: 880px) {
    .header-content { 
      flex-direction: row;
      text-align: left;
      padding-top: 0;
    }

    .nav-items {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      .nav-link-container {
        display: inline-block;
        margin-left: 30px;
        margin-bottom: 0;
      }
    }

    #tabzilla {
      position: relative;
    }
  }
}
