@import "footer";
@import "nav-bar";
@import "jumbotron";
@import "imagetag";
@import "space-profile";
@import "speaker-tiny-card";
@import "tab-switcher";
@import "project-card";
@import "news-widget";
@import "speaker-series-talk";
@import "event-card-group";
@import "notification-bar";

.member-profile,
.speaker-series-talk {
  small {
    font-weight: 300;
  }
  .name {
    color: @blue;
    font-size: 2rem;
  }
  .twitter {
    a:before {
      font-family: "FontAwesome";
      content: "\f099";
      display: inline-block;
      margin-right: 5px;
      position: relative;
      top: 1px;
    }
  }
}
