.news-widget {
  .title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  img ~ .title {
    font-weight: 200;
    font-size: 1.9rem;
  }
  .source, .publish-date {
    font-size: .9rem;
  }
  .description {
    font-size: 1rem;
  }
  .author {
    font-size: 1rem;
  }
  .medium-logo::before {
    content: '';
    background-size: cover;
    background-image: url('assets/images/logo-medium-m-dark-100px.png');
    display: inline-block;
    width: 1.3em;
    height: 1em;
  }
}
