.notification-bar {
  font-family: 'Zilla Slab';
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.75px;
  color: white;
  background: linear-gradient(to right, @blue, @pink);

  &.hyperlinked {

    a {
      color: white;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  .emphasized {
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
  }

  .emphasized + .emphasized {
    @media screen and (min-width: 768px) {
      &:before {
        display: inline-block;
        content: '|';
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  .light {
    font-style: italic;
    font-weight: 300;
    color: white;
  }
}
