.space-profile {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  .detail {
    width: 100%;
    padding-right: 0;
    border-bottom: 1px solid #D1D3D3;
    @media screen and (min-width: 768px) {
      width: 75%;
      padding-right: 20px;
      border-bottom: none;
      border-right: 1px solid #D1D3D3;
    }
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        text-align: left;
      }
      .image-container {
        width: 100px;
        text-align: center;
      }
      .image-container + h1 {
        @media screen and (min-width: 768px) {
          margin-left: 10px;
        }
      }
      a {
        font-weight: inherit;
        text-transform: none;
        font-size: inherit;
      }
    }
    .type {
      font-style: italic;
      text-align: center;
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }
  .contacts {
    margin-left: 0;
    @media screen and (min-width: 768px) {
      width: 25%;
      margin-left: 20px;
    }
    h2 {
      font-weight: 500;
      color: inherit;
      text-transform: capitalize;
      &:after {
        content: ":";
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      // margin-bottom: 30px;
      .name {
        font-weight: 700;
      }
      &:hover {
        .bio-section {
          display: block;
        }
      }
    }
  }
  .bio-section {
    display: none;
    font-size: 12px;
    .tooltip-arrow {
      width: 0; 
      height: 0;
      margin-left: 20px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid #ddd;
    }
    .content-box {
      padding: 10px;
      background: #ddd;
      border-radius: 4px;
      margin-bottom: 30px;
    }
    img {
      width: 100%;
    }
    p {
      font-size: 12px;
      line-height: 14px;
      margin: 15px 0;
    }
  }
}
